<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liste des Livres</title>
</head>
<body>

<h1>Liste des Livres</h1>

<div th:if="${nomLivreAjoute}">
    <p th:text="'Vous avez ajouté : ' + ${nomLivreAjoute}" style="color: blue;"></p>
</div>
<ul>
    <li th:each="livre : ${listeLivres}">
        <a th:href="@{'/details?id=' + ${livre.id}}">
            <span th:text="${livre.titre}"></span>
        </a>
    </li>
</ul>

<a th:href="@{ajoutLivre}">Ajouter un livre à la liste</a>
</body>
</html>
